.header__logo {
    width: 140px;
    height: 58px;
    background-image: url(../../../images/logo_ceramc-ok.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

@media screen and (max-width: 550px) {
    .header__logo {
        width: 103px;
        height: 24px;
      }
  } 